html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
}

#header{
  text-align: center;
}

#pageContainer{
  width: 100%;
  height: 100%;
}

.hasPlant{
  transition: all 0.5s cubic-bezier(.11,.81,.04,1);
}

.hasPlant:hover{
  cursor: pointer;
  transform: scale(1.1));
}

#moreButton{
    border-radius: 50px;
    background-color: #4CAF50;
    pointer-events: auto;
    color: white;
    background-color: black;
    background: linear-gradient(to bottom, #45B649, #DCE35B);   
}

#plantInfoContainer{
  height: 80%;
}

#pickBtn{
  pointer-events: auto;
  outline: none;
}

#waterBtn{
  pointer-events: auto;
  outline: none;
}

#xpFull{
  width: 100%;
  height: 20px;
  background: grey;
}

#xpActual{
  width: 1%;
  height: 100%;
  background: black;
}

#uiContainer{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  pointer-events: none;
}

#contentRow{
  min-height: 60%;
  background-color: grey;
  visibility: hidden;
  display: none;
  justify-content: center;
  align-items: center;
}

#contentContainer{
  min-height: 100%;
}

#gardenRow{
  min-height: 100%;
  visibility: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

#uiSpacerRow{
  height: 70%;
}

#expContainer{
  width: 100%;
  pointer-events: auto;
}

#notifContainer{
  width: 50px;
  height: 50px;
  margin-left: auto;
  pointer-events: auto;
}

#notifContainer:hover {
    background-color: red;
}

#weatherRow{
  margin-top: 70%;
}

.headerContainer{
  border-radius: 12px;
  border: 3px solid black;
  pointer-events: auto;
}

.gardenPlanter{
  background-color: magenta;
  min-height: 100px;
  max-width: 100px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gardenContainer{
  margin-top: 8%;
  margin-bottom: 10%;
  z-index: 1;
}

.addPlant {
    width: 80%;
    font-weight: bold;
}

.plant {
    width: 60%;
    background-color: #4CAF50;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 5px;
    
    width: 95%;
    margin: 3px;
    font-weight: bold;

}

#plantOverlay {
    height: 400px;
    width: 300px;
    background-color: lightgrey;
    display: none;
    visibility: hidden;
    position: fixed;
    left: 2%;
    top: 25%;
    z-index: 10000;
    border-radius: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center
}

#inspectPlantOverlay {
    height: 400px;
    width: 300px;
    background-color: lightgrey;
    display: none;
    visibility: hidden;
    position: fixed;
    right: 2%;
    top: 25%;
    z-index: 10000;
    border-radius: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center
}

#close {
    bottom: 10px;
    right: 10px;
}

#signOut:hover{
  cursor: pointer;
}

.selected{
  background-color: red !important;
}

.dbPosActive{
  background-color: blue;
}

h1{
  text-align: center;
}


.btn-group{
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */

}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

#btn-container{
  display: block;
}

#createGardenButton{
  display: block;
  margin: 0 auto;
  margin-top: 22%;
}




#title{
  font-size: 28pt;
  font-weight: bold;
}

.WeatherDiv{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.rndTopLeft{
  border-top-left-radius: 12px;
}

.rndTopRight{
  border-top-right-radius: 12px;
}

.rndBtmLeft{
  border-bottom-left-radius: 12px;
}

.rndBtmRight{
  border-bottom-right-radius: 12px;

}

#notificationFeed{
    border: 1px solid black;
    background-color: green;
    width: 225px;
    height: 225px;
    position: fixed;
    right: 15px;
    bottom: 430px;
    visibility: hidden;
    display: none;
    border-radius: 5px;
}


.notifiContent{
    border: 1px solid black;
    size: auto;
    
}

.notifiCOntent:hover{
    background-color: red;
}

#notifContainer:hover #notificationFeed{
    display: block;
    visibility: visible
    
}

