html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#header{
  text-align: center;
}

#pageContainer{
  width: 100%;
  height: 100%;
  background-color: cyan;
}

#uiContainer{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
}

#contentRow{
  min-height: 60%;
  background-color: grey;
  visibility: hidden;
  display: none;
  justify-content: center;
  align-items: center;
}

#contentContainer{
  min-height: 100%;
}

#gardenRow{
  min-height: 60%;
  visibility: hidden;
  display: none;
  justify-content: center;
  align-items: center;
}

#uiSpacerRow{
  height: 70%;
}

#expContainer{
  width: 100%;
  height: 50px;
}

#notifContainer{
  width: 50px;
  height: 50px;
  margin-left: auto;
}

.headerContainer{
  border-radius: 12px;
  border: 3px solid black;
}

.gardenPlanter{
  background-color: magenta;
  height: 75px;
  width: 75px;
  border: 2px solid black;
}

.selected{
  background-color: red !important;
}

.dbPosActive{
  background-color: blue;
}

h1{
  text-align: center;
}


.btn-group{
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */

}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}



#btn-container{
  display: block;
}

#createGardenButton{
  display: block;
  margin: 0 auto;
}


.rndTopLeft{
  border-top-left-radius: 12px;
}

.rndTopRight{
  border-top-right-radius: 12px;
}

.rndBtmLeft{
  border-bottom-left-radius: 12px;
}

.rndBtmRight{
  border-bottom-right-radius: 12px;
}